 
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:400,700');

html {
    height: 100%
}

body {
    padding: 0;
    margin: 0;
	font-family: 'Barlow Condensed', sans-serif;
	background: url(../img/stadiums-33.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.xbeat-logo-wrapper{
    position: absolute;
    top: 40px;
    right: 60px;
    width: 160px;
    height: 44px;
    display: flex;
    align-items: center;
    background-color: #fff;
    opacity: .9;
    border-radius: 44px;
}
 
.xbeat-logo-up {
    position: relative;
    width: 120px;
    margin: auto;
}

.mainContainer {
	position: absolute;
	top: 20px;
	left: 20px;
    width: 1170px;
    height: 800px;
}

.playerStatsContainer,
.teamStatsContainer,
.playerComparisonContainer,
.gameStatsContainer,
.gameTacticsContainer {
	position: absolute;
	top: 130px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
    width: 1200px;
    height: 800px;
	flex-direction: column;
}

.teamStatsContainer,
.playerComparisonContainer,
.gameStatsContainer,
.gameTacticsContainer {
    display: none;
}

ul.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
    background: #fff;
}
 
ul.menu li {
    display: inline-block;
}
 
ul.menu li a {
    display: inline-block;
    font-size: 22px;
    width: 220px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    padding: 7px;
    color: #333;
}
 
ul.menu li a.active {
    display: inline-block;
    font-size: 22px;
    width: 220px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
    padding: 7px;
}

ul.menu li a.menu_item {
    display: inline-block;
    font-size: 22px;
    width: 220px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
    padding: 7px;
    background: #fff;
    color: #333;
}

.content {
    font-size: 14px;
    padding: 7px 10px;
    line-height: 1.4;
    background-color: rgba( 53, 61, 62, .7);
    color: #fff;
    height: 800px;
    display: none;
    align-items: center;
    align-content: space-around;
}

.content.active {
    display: flex;
}

.bar-grey{
    fill: #B8B8B8;
    opacity: 0.9;
    width: 140px;
    height: 8px;
}
.the-line{
    height: 8px;
    fill: #FFD819;
    opacity: 0.9;
}
@keyframes bar-running {
    0%   { x: 0px;  }
    20% { x: 200px; }
    100% { x: 200px; }
}
.bar-lines .the-line{
    animation: 5s linear bar-running infinite;
}

@keyframes bar-fadding {
    0% { opacity: 0; }
    20% { opacity: 1; }
    100% { opacity: 1; }
}

.bar-wrapper{ 
    animation: 5s linear bar-fadding infinite; 
}

.attribute-column{
    display: flex;
    flex-direction: column;
    padding: 7px 10px;
}

.svg-bar{
    width: "700px";
    height: "230px";
}

.teamStat1{
    display: flex;
    flex-direction: column;
}

.teamStat1-container{
    display: flex;
}

.teamStat1-leftPart{
    display: flex;
}

.teamStat1-rightPart{
    display: flex;
}

.gameStat1{
    display: flex;
    flex-direction: column;
}

.gameStat1-container{
    display: flex;
}

.gameStat1-leftPart{
    display: flex;
}

.gameStat1-rightPart{
    display: flex;
}

#contain {
    display: flex;
    margin: 0 auto;
    width: 1200px;
    height: 700px;
    margin-top: 150px;
}

.table {
    width: 350px;
    height: 377px;
    display: inline-block;
    /*border:3px solid rgba(39, 44, 48, 0.36); */
    float: left;
    background: #171A1D;
    margin-left: 20px;
}

.table .head {
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    min-height: 10px;
    line-height: 5px;
}

.bio ul, .detail ul {
    list-style: none;
    padding: 20px;
}
.bio ul li, .detail ul li {
    margin-bottom: 5px;
    text-align: left;
    text-transform: uppercase;
    font-size: 15px;
    color: #8C8C8C;
}

.yellow {
    border-bottom: 5px solid #FDA202;
}

#table.bio {
    background: #15181B;
}


