#formationH {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	top: 0px;
	z-index: 3;
}

#formationV {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	top: 80px;
	left: 850px;
	z-index: 3;
}

.formationText{
	display: flex;
	font-size: 15px;
	font-family: Helvetica, Sans-serif;
	display: flex;
	width: 50px;
	align-items: center;
	justify-content: center;
	margin: 2px 5px 0px 5px;
	cursor: pointer;
	border: 1px solid transparent;
}

.pitch{
	position: absolute;
	top: -110px;
	left: 150px;
	width:600px;
	height:998px;
	z-index: 1;
	transform: perspective( 1200px ) rotateX( 45deg );
}

/*
* Jersey
*/
#formationJerseyContainerV{
	position: absolute;
	left: 140px;
	top: 30px;
	padding: 80px 0 0 0;
	width: 645px;
	height: 1020px;
	display: flex;
	align-items: center;
	justify-content: flex-start;	
	flex-direction: column;
	z-index: 2;
	-webkit-transform: translateZ( 600px );
}

#formationJerseyContainerH{
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	display: flex;
}

.jerseyFormationRowH {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.jerseyFormationRowV {
	display: flex;
	align-items: center;
	justify-content: center;
}

.jerseyNoteTop {
	background-color: red;
	position: relative;
	top: -25px;
	left: 4px;
	width: 83px;
	height: 15px;
	text-align: center;
	padding: 5px 0 0 0px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	background-color: rgba( 0, 0, 0, .5 ); 
}

.jerseyNoteBottom{
	background-color: blue;
	position: relative;
	top: -25px;
	left: 4px;
	width: 75px;
	height: 15px;
	padding: 5px 0 0 8px;	
	border-top: 2px solid #66ff33;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.jerseyContainer {
	max-width: 70px;
	z-index: 2;	
	font-size: 9px;
	font-weight: 600;
	color: #fff
}

.jersey {
	padding: 10px;
	width: 100%;
	cursor: pointer;
}

.shadow {
	display: block;
	fill: rgba(0, 0, 0, 0.3);
}

.jersey_base {
	display: block;
	stroke-width: 20px;
}

.jersey_name {
	font-family: sans-serif;
	text-anchor: middle;
	alignment-baseline: middle;
	font-size: 10rem;
	fill: #fff;
}

.goalKeeperContainer {
	margin-bottom: 135px;
	max-width: 110px;
	z-index: 2;	
	font-size: 9px;
	font-weight: 600;
	color: #fff;
	width: 500px;
}

/*
* Pitch
*/

.pitchGrass,.pitchSegment{fill:none;}

.pitchRect{
	fill:url(#pitchGrass);
}

.pitchSegment{
	stroke:#fff;
	stroke-miterlimit:10;
	stroke-width:2px;
}
